.controllers {
  margin: 16px;
  user-select: none;
}

.images-list {
  list-style-type: none;
  padding: 0;
}

.images-list li img {
  height: 40px;
  width: 71px;
  object-fit: cover;
}

.add-image-form {
}
.add-image-form input {
}

.arena--content {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  background: black;

  user-select: none;
  pointer-events: none;
}