input:disabled, button:disabled {
  cursor: not-allowed;
  opacity: .5;
}
input[type="text"] {
  font-family: inherit;
  border: #000 2px solid;
  background: #111;
  color: #eee;
  padding: 0.3em;
  border-radius: 0.2em;
  margin-right: 0.3em;
}
button {
  font-family: inherit;
  border: #272727 2px solid;
  background: rgb(56, 56, 56);
  color: #eee;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 0.2em;
  margin-right: 0.3em;
}

input[type="radio"] {
  cursor: pointer;
  appearance: none;
  border: 4px solid rgb(112, 112, 112);
  background: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0;
  transition: 0.05s ease border;
}
input[type="radio"].is-selected {
  appearance: none;
  border: 7.5px solid #72ffbd;
}

input[type="radio"] + label {
  cursor: pointer;
  margin: 0 0.4em 0 0.2em;
  vertical-align: top;
  line-height: 20px;
}
input[type="radio"].is-selected + label {
  /* font-weight: bold; */
}

.no-controllers {
  display: none;
}

.controllers {
  padding: 16px;
  user-select: none;
  display: inline-block;
  opacity: 0.3;
}
.controllers:hover {
  opacity: 1;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.1);
}

.images-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 8px;
}

.images-list li {
  display: inline-block;
  height: 40px;
  width: 71px;
}
.images-list li:nth-child(4n) {
  margin-right: 8px;
}

.add-image-form {
}
.add-image-form input {
}

.switching-strategy-selector {
  margin: 0.4em 0 0;
}

.tenor-adder h3 {
  margin: 0 0 .4em;
}

.tenor-search-results {
  margin-top: .4em;
}

.thumbnail-with-action {
  position: relative;
  display: inline-block;
}

.thumbnail-with-action img {
  height: 40px;
  width: 71px;
  object-fit: cover;
}

.thumbnail-with-action__button {
  position: absolute; 
  box-sizing: border-box;
  right: 0;
  bottom: 2px;
  min-width: 20px;
  height: 20px;
  padding: 0 .2em;
  margin: .2em;
  opacity: .6;
  vertical-align: middle;
}
.thumbnail-with-action__button:hover {
  opacity: 1;
}

.arena--content {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  object-fit: cover;
  background: black;

  user-select: none;
  pointer-events: none;
}

.sync-indicator {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 0px;
  height: 0px;
  border: 6px solid rgb(92, 199, 49);
  border-radius: 6px;
  mix-blend-mode: hard-light;
}
